---
Language: Cpp
BasedOnStyle: LLVM
Standard: c++20

IndentWidth: 3
TabWidth: 3
UseTab: Never
ContinuationIndentWidth: 3
ConstructorInitializerIndentWidth: 3

ColumnLimit: 120

BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never

NamespaceIndentation: None
FixNamespaceComments: true
ShortNamespaceLines: 0

SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<[A-Za-z0-9_/.-]+\.h>'
    Priority: 1
  - Regex: '^<[A-Za-z0-9_/.-]+>'
    Priority: 2
  - Regex: '^"archcheck/'
    Priority: 3
  - Regex: '.*'
    Priority: 4

SpaceBeforeCpp11BracedList: false
SpaceAfterTemplateKeyword: false

AccessModifierOffset: -3
EmptyLineBeforeAccessModifier: Always
PackConstructorInitializers: NextLine
